/* Meteors data styles */

.title {
  text-decoration: underline;
}

.table {
  border-collapse: collapse;
}

.table-header {
  font-size: 1.25rem;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;

  & th {
    padding: 0.25rem 0.5rem;
    position: sticky;
    top: 0;
    background: #ffffff;
  }
}

.table-body {
  border-bottom: 2px solid #000000;

  & td {
    padding: 0.1rem 0.5rem;
  }
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.danger {
  color: #ff0000;
}

.safe {
  color: #008000;
}

/* Rover form styles */

.rover-form,
.rover-form div {
  display: flex;
  flex-direction: column;
}

.rover-form {
  max-width: 500px;
  gap: 1rem;

  & div {
    gap: 0.5rem;
  }

  & label {
    font-size: 1.25rem;
  }

  & input {
    width: 100%;
    height: 1.5rem;
  }

  & button {
    width: 25%;
    height: 1.5rem;
    font-weight: 600;
  }
}
